.textnow {
  background-color: #ff9a8b;
  background-image: linear-gradient(
    90deg,
    #ff9a8b 0%,
    #ff6a88 55%,
    #ff99ac 100%
  );

  border-radius: 55px;
}
.tt {
  font-family: var(--lobster-font);
  font-weight: 500;
  font-size: 3em;
  background: -webkit-linear-gradient(rgb(109, 0, 193), rgb(198, 54, 14));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
